{% extends "layout.html.jinja" %}

{% block title %}
{% endblock %}

{% block main %}
<h1 class="display-3">About</h1>

<br>

<p class="lead">
    PlexWeb is a webpage that - in a simple way - allows you to add different kinds of movie playlists to your plex
    server.
</p>

<br>

<p>
    This is Python project, with the intentions of learning Flask, how to use an API, and web scraping.
</p>
{% endblock %}
