{% extends "layout.html.jinja" %}

{% block title %}
{% endblock %}

{% block main %}
<h1 class="display-3">About</h1>

<br>

<p class="lead">
    PlexWeb is a webpage that - in a simple way - allows you to browse your Plex server and manage it.
</p>
{% endblock %}
