{% extends "layout.html.jinja" %}

{% block title %}
- Connect
{% endblock %}

{% block main %}
<div class="login-page">
    <div id="login-form" class="form">
        <form class="login-form" action="/connect" method="post">
            <input name="plex-url" id="plex-url" type="url" placeholder="Plex URL" />
            <input type="text" id="plex-token" name="plex-token" placeholder="Token" />
            <button type="submit" id="submit-button">login</button>
            <button type="button" onclick="location.href='/about'" id="about-button"> about </button>
        </form>
    </div>
</div>

{% endblock %}
