{% extends "layout.html.jinja" %}

{% block title %}
 - Signed in
{% endblock %}

{% block main %}
<div class="alert alert-success">
  <strong>Success!</strong>
  You have signed in. Access your server in the menu bar.
</div>
{% endblock %}
