{% extends "layout.html.jinja" %}

{% block title %}
- Playlists
{% endblock %}

{% block main %}

<h1 class="display-4">Playlist</h1>

<br>

<p class="lead">
    All playlists connected to the owner of the plex server. Press a playlist to get a table with all movies on the playlist.
</p>

<br>

<div class="row">
    <div class="col-4">

        <div class="list-group" id="list-tab" role="tablist">
            {% for playlist in playlists %}
            <a class="list-group-item list-group-item-action" data-toggle="list" id="{{playlist.id}}-button"
                href="#{{playlist.id}}" role="tab" onClick="content(this)">{{playlist.title}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            {% for playlist in playlists %}
            <div class="tab-pane" id="{{playlist.id}}" role="tabpanel">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>


{% endblock %}
