{% extends "layout.html.jinja" %}

{% block title %}
{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 2
    </div>
  </div>
{% endblock %}
