{% extends "layout.html.jinja" %}

{% block title %}
 - Server
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-4">Users</h1>

            <br>

            <p class="lead">
                Press the button to update the user activity. Your own stream will not show.
            </p>

            <button id="activity-button" type=button class="btn btn-info">Update activity</button>

            <br>

            <ul class="list-group" id="user-list">
                {% for user in users %}
                <li name="active-users" id="{{user}}" class="list-group-item">{{user}}</li>
                {% endfor %}
            </ul>

        </div>
        <div class="col">
            <h1 class="display-4">Movies</h1>

            <br>

            <p class="lead">
                Search for movies and shows in your plex library. No episodes will show.
            </p>

            <div class="input-group mb-3">
                <input type="text" id="query" class="form-control" placeholder="Search" aria-label="Search">
                 <button id="search-button" type=button class="btn btn-info" onclick=search()>Search</button>
            </div>


            <div id="search-table">
                <ul class="list-group" id="query-list">
                </ul>
            </div>
        </div>
    </div>

    {% endblock %}
