{% extends "layout.html.jinja" %}

{% block title %}
{% endblock %}

{% block main %}
<div class="alert alert-danger">
  <strong>Wrong URL or Token!</strong> Could not connect to the server, please <a href="/"> try again</a>.
</div>
{% endblock %}
